<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
<head>
    {{ partial "head.html" . }}
</head>
<body class="{{ if .IsHome }}home-template{{ else }}{{ if eq .Section "page" }}page-template{{ else }}post-template{{ end }}{{ end }}">
    <div class="container">
        {{ partial "header.html" . }}
        {{ partial "nav.html" . }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
    </div>

    {{ partial "footer.html" . }}
    
    {{ with .Site.Params.katex }}
    {{ if eq . true }}
    {{ partial "katex.html" $ }}
    {{ end }}
    {{ end }}

    {{ with .Site.Params.customJS }}
    <script src="{{ . | relURL }}"></script>
    {{ end }}
</body>
</html>
