{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
{{ range $paginator.Pages }}
<article class="post-index post">
    <header>
        <h2><a class="post-title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="meta">
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006 January 02" }}</time>
            {{ with .Params.categories }}
            &nbsp;•&nbsp;
            {{ range . }}
            <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            {{ end }}
        </div>
    </header>
    
    <section class="post">
        {{ .Content }}
    </section>
</article>
{{ end }}

{{ partial "pagination.html" . }}
{{ end }}
