{{ define "main" }}
{{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ range $paginator.Pages }}
<article class="post-index post">
    <header>
        <h2 class="post-title"><a class="post-title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="meta">
            <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006年01月02日" }}</time>
            {{ with .Params.categories }}
            &nbsp;•&nbsp;
            {{ range . }}
            <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
            {{ end }}
            {{ with .Params.tags }}
            &nbsp;•&nbsp;
            <span class="post-tags">
                {{ range . }}
                <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
    </header>
    
    <section class="post-content">
        {{ if .Summary }}
            {{ .Summary }}
            {{ if .Truncated }}
            <p><a href="{{ .RelPermalink }}">继续阅读 &raquo;</a></p>
            {{ end }}
        {{ else }}
            {{ .Content }}
        {{ end }}
    </section>
</article>
{{ end }}

{{ partial "pagination.html" . }}
{{ end }}
